pillow
python-docx
pytesseract
pymupdf
PyPDF2
starlette
fastapi
uvicorn
pydantic
python-multipart
email-validator
sqlalchemy
python-jose
passlib[bcrypt]
easyocr
numpy
opencv-python
transformers
nltk
textblob
pyjwt
python-dotenv
pyyaml
groq
sentencepiece
